{{ 'high_tadah.css' | asset_url | stylesheet_tag }}
<!-- *********** high_tadah ********* -->

<section class="high_tadah global_style">
  <div class="content_high">
      <div class="item_high_content">
        <div class="banner_high">
          <img
              src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/veggies_img.png?v=1680892324"
              alt="vaggie_high_image"
              class="vaggie_high_image"
            />
        </div>
        <div class="banner_high">
          <h3 class="title_banner_high">{{ section.settings['title-high'] }}</h3>
          <p class="text_banner_high text_none">
            {{ section.settings['text-high-block-one'] }}
           
          </p>
          <p class="text_mobile_high">
            {{ section.settings['text-high-mobile'] }}
            
          </p>
        </div>
      </div>
      <div class="item_high_content">
        <div class="banner_high_2">
          <h3 class="title_banner_high text_none">
           {{ section.settings['title-high-block-two'] }}
          </h3>
          <h3 class="title_mobile_high"> {{ section.settings['title-high-block-two-mobile'] }}</h3>
          <p class="text_banner_high">
            {{ section.settings['text-high-block-two'] }}
          </p>
        </div>
        <div class="banner_high_2">
          <img
            src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/patty_img.png?v=1680892304"
            alt="banner_img_high"
            class="banner_img_high"
          />
        </div>
      </div>
      <div class="item_high_content">
        <div class="banner_mobile_shark">
          <img
            src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/sharktank_img_1.png?v=1680892298"
            alt="sharktank_img"
            class="sharktank_img"
          />
        </div>
        <div class="banner_high_3">
          <img
            src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/Badge.png?v=1680892262"
            class="badge_image_high"
            alt="badge_image"
          />
        </div>
        <div class="banner_high_3">
          <h3 class="title_banner_high change">{{ section.settings['title-high-block-three'] }}</h3>
          <p class="text_banner_high">
            {{ section.settings['text-high-block-three'] }} <br>
             <strong>
               {{ section.settings['autor-strong'] }}
             </strong>
          </p>
          <div class="logo_mobile_bagde">
            <img src="https://cdn.shopify.com/s/files/1/0746/6408/3772/files/Badge_mobile.png?v=1680892247" alt="badge_img" class="bagde_mobile_img">
          </div>
        </div>
      </div>
    </div>
 
      </div>
</section>

{% schema %}
{
  "name": "Section High",
  "settings": [
    {
      "type":"text",
      "id": "title-high",
      "label": "Title Block one"
    },
    {
      "type":"text",
      "id": "text-high-block-one",
      "label": "Text Block one"
    },
    {
      "type":"text",
      "id": "text-high-mobile",
      "label": "Text Mobile one"
    },
    {
      "type":"text",
      "id": "title-high-block-two",
      "label": "Title Block Two"
    },
    {
      "type":"text",
      "id": "title-high-block-two-mobile",
      "label": "Title Mobile Block Two"
    },
    {
      "type":"text",
      "id": "text-high-block-two",
      "label": "Text Block Two"
    },
     {
      "type":"text",
      "id": "title-high-block-three",
      "label": "Title Block three"
    },
    {
      "type":"text",
      "id": "text-high-block-three",
      "label": "Text Block three"
    },
     {
      "type":"text",
      "id": "autor-strong",
      "label": "Author"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
