{{ 'variety_tadah.css' | asset_url | stylesheet_tag }}
<!-- *********** variety_tadah ********* -->

    <section class="variety_tadah global_style">
      <div class="content_variety">
        <div class="item_variety_tadah">
           {{ section.settings.image-variery | image_url: width: number | image_tag:  class: 'image_variety', loading: 'lazy' }}
        </div>
        <div class="item_variety_tadah">
          <h2 class="title_variety">{{ section.settings.title-variety }}</h2>
          <p class="text_variety">
           {{ section.settings.text-variety }}
          </p>
          <a href="#" class="try_variety">{{ section.settings.link-variety }} </a>
        </div>
      </div>
    </section>
{% schema %}
{
  "name": "Section Variety",
  "settings": [
    {
      "type": "text",
      "id" : "title-variety",
      "label" : "Title"
    },
    {
      "type": "text",
      "id" : "text-variety",
      "label" : "Text"
    },
    {
      "type": "text",
      "id" : "link-variety",
      "label" : "Link"
    },
    {
       "type": "image_picker",
       "id": "image-variery",
       "label": "Image"
     }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}