{{ 'high_tadah.css' | asset_url | stylesheet_tag }}
<!-- *********** high_tadah ********* -->

<section class="high_tadah global_style">
  <div class="content_high">
    <div class="item_high_content">
      <div class="banner_high">
        {{
          section.settings['image-high']
          | image_url: width: number
          | image_tag: class: 'vaggie_high_image', loading: 'lazy'
        }}
      </div>
      <div class="banner_high">
        <h3 class="title_banner_high">{{ section.settings['title-high'] }}</h3>
        <p class="text_banner_high text_none">
          {{ section.settings['text-high'] }}
        </p>
        <p class="text_mobile_high">
          {{ section.settings['text-high-mobile'] }}
        </p>
      </div>
    </div>
    <div class="item_high_content">
      <div class="banner_high_2">
        <h3 class="title_banner_high text_none">
          {{ section.settings['title-high2'] }}
        </h3>
        <h3 class="title_mobile_high">{{ section.settings['title-high2-mobile'] }}</h3>
        <p class="text_banner_high">
          {{ section.settings['text-high2'] }}
        </p>
      </div>
      <div class="banner_high_2">
        {{
          section.settings['image-high2']
          | image_url: width: number
          | image_tag: class: 'banner_img_high', loading: 'lazy'
        }}
      </div>
    </div>
    <div class="item_high_content">
      <div class="banner_mobile_shark">
        {{
          section.settings['image-high3-mobile']
          | image_url: width: number
          | image_tag: class: 'sharktank_img', loading: 'lazy'
        }}
      </div>
      <div class="banner_high_3">
        {{
          section.settings['image-high3']
          | image_url: width: number
          | image_tag: class: 'badge_image"', loading: 'lazy'
        }}
      </div>
      <div class="banner_high_3">
        <h3 class="title_banner_high change">{{ section.settings['title-high3'] }}</h3>
        <p class="text_banner_high">
          {{ section.settings['text-high3'] }}
        </p>
        <div class="logo_mobile_bagde">
          {{
            section.settings['image-high3-mobile']
            | image_url: width: number
            | image_tag: class: 'bagde_mobile_img', loading: 'lazy'
          }}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Section High",
  "settings": [
    {
      "type":"text",
      "id": "title-high",
      "label": "Title"
    },
    {
      "type":"text",
      "id": "text-high",
      "label": "Text"
    },
    {
      "type":"text",
      "id": "text-high-mobile",
      "label": "Text Mobile"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
